@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    /* The border below is to see the flex box dimensions */
    /* border-width: 1px;
    border-color: red;
    border-style: solid; */
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: white;
}

.nav {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none; /* Removes bullets from ul */
    display: flex;
    justify-content: space-between;
}

li {
    padding: 8px;
    font-size: 18px;
    color: #e5e7eb;
}

.panel {
    height: 500px;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    flex-grow: 1;
}

.hero {
    background-color: #1f2937;
    color: white;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 500px;
    gap: 24px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: 600;
    height: 36px;
    width: 96px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    background-color: gray;
}

.info {
    background-color: white;
    color: #1f2937;
    flex-direction: column;
    align-items: center;
}

.panel-title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    margin-top: 50px;
}

.card-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-align: center;
    margin: 30px;
    gap: 16px;
}
 
.image-placeholder {
    height: 150px;
    width: 150px;
    border-color: #3882f6;
    border-width: 3px;
    border-style: solid;
    border-radius: 10%; 
}

.quote {
    background-color: #e5e7eb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
    display: flex;
    min-height: 0;
}

.quote-author {
    align-self: flex-end;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    min-height: 0;
}

.cta {
    display: flex;
    justify-content: center;
}

.modal {
    background-color: #3882f6;
    border-radius: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;
    flex-grow: 1;
}

.modal-left {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 24px;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
}

.modal-button {
    color: white;
    border-color: white;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    width: 150px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
}